@import url('https://fonts.googleapis.com/css?family=Oswald:400,700|Roboto');

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: #000;

    font-family: Roboto, sans-serif;
}

.background {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;

    transition: opacity ease-in-out .3s;
    animation: appear 1s;

    width: 100%;
    background-position: fixed;
    background-size: cover;
    background-position: center;
}

@keyframes appear {
    from { opacity: 0 }
    to { opacity: 1 }
}

main {
    position: fixed;
    width: 300px;
    bottom: 25px;
    right: 25px;

    z-index: 2;

    padding: 25px;

    background: #fff;

    transition: height .3s ease-in-out;
}

main:empty {
    padding: 0;
}

main h2 {
    margin: 0;

    font-family: Oswald, sans-serif;
    font-weight: bold;
    font-size: 200%;
    text-transform: uppercase;
}

main p {
    color: #333;
    line-height: 1.5;
}

button {
    display: block;
    width: 100%;
    margin: 5px 0;
    padding: 10px 0;

    border: 1px solid black;
    background: #fff;

    font-family: Oswald, sans-serif;
    font-size: 115%;
    text-transform: uppercase;

    cursor: pointer;

    transition: .15s ease-in-out all;
}

button:hover:not([disabled]),
button:focus {
    background: #000;
    color: #fff;
    outline: 0;
}

button[disabled] {
    border-color: gray;
    cursor: not-allowed;
}

.error {
    display: block;
    margin-top: 10px;

    color: red;
    font-family: Roboto, sans-serif;
    font-size: 13px;
    font-weight: bold;
}


/* Intro */
.intro-layer {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    display: flex;
    align-items: center;
    justify-content: center;
}

.intro-layer-1 {
    background: rgb(2, 84, 105);
    animation: 5s appear;
}

.intro-layer-2 {
    color: #fff;
    animation: 5s intro-content;
    z-index: 2;
}

h1 {
    margin: 0;
    font-size: 15vw;
    font-family: 'Oswald';
    text-transform: uppercase;
}

.intro-layer-2 button {

}

@keyframes intro-content {
    0%, 60% { opacity: 0; transform: translateY(30px) }
    100% { opacity: 1; }
}

.intro-background {
    display: block;
    width: 100%;
    height: 100vw;

    background: radial-gradient(
        rgba(2, 84, 105, 0) 0%, rgba(2, 84, 105, 1) 70%, rgba(2, 84, 105, 1) 100%
    ), url(../img/burst.jpg);
    background-size: cover;
    background-position: center;

    animation: 5s rotate infinite;
    animation-timing-function: linear;
}

@keyframes rotate {
    0% { transform: rotate(0deg) scale(1.5) }
    100% { transform: rotate(90deg) scale(1.5) }
}
